.foto{
    	font-size: 50px;
    font-family: monospace;
    padding: 10px 30px;
    text-decoration: none;
    position: relative;
    right: 38px; 
    bottom: 50px; 
    left: px; 
}
}
.text{
    	font-size: 50px;
    display: inline-block;
    width: px;
    height: px;
    margin-left: 15px;

}

